.home-about {
  margin-top: 48px;
}

@mixin home-about-cta-link($btn-bg-color) {
  border-radius: 4px;
  background-color: #{$btn-bg-color};
  color: $white;
  display: inline-block;
  font-size: 14px;
  line-height: 2.5em;
  padding: 0 12px;
  transition: background-color 0.2s ease-out;

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($btn-bg-color, 8%);
    color: $white;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
  }
}

.home-about-cosign-logo {
  background-image: url('../assets/home_imgs/cosign.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 54px;
  margin: 0 auto 12px;
  width: 100px;

  @media screen and (min-width: 768px) {
    margin: 0 0 12px;
  }
}

.home-about-cosign-slogan {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.home-about-cosign-quote {
  padding: 0 12px;
  position: relative;
}

.home-about-cosign-quote-left,
.home-about-cosign-quote-right {
  font-family: 'Arbutus Slab'; 
  font-size: 16px;
}



.home-about-cosign-quote-left {
  display: block;
  left: 0;
  position: absolute;
}


.home-about-cosign-cta {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.home-about-link--cosign {
  @include home-about-cta-link($blue-steel);
}

.home-about-intersection-logo {
  background-image: url('../assets/home_imgs/intersection.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 41px;
  margin: 0 auto 12px;
  width: 160px;

  @media screen and (min-width: 768px) {
    margin: 0 0 12px;
  }
}

.home-about-intersection-medium-icon {
  background-image: url('../assets/home_imgs/about_medium.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
}

.home-about-intersection-cta {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.home-about-link--intersection {
  @include home-about-cta-link($white-shade-night);
}
