.home-about {
  margin-top: 48px;
}

.home-about-cosign-logo {
  background-image: url('../assets/home_imgs/cosign.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 54px;
  margin: 0 auto 12px;
  width: 100px;

  @media screen and (min-width: 768px) {
    margin: 0 0 12px;
  }
}

.home-about-cosign-slogan {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.home-about-cosign-link {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.home-about-intersection-logo {
  background-image: url('../assets/home_imgs/intersection.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 41px;
  margin: 0 auto 12px;
  width: 160px;

  @media screen and (min-width: 768px) {
    margin: 0 0 12px;
  }
}

.home-about-intersection-medium-icon {
  background-image: url('../assets/home_imgs/about_medium.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.home-about-intersection-link {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.home-about-link {
  color: $white-shade-medium;

  &:active,
  &:focus,
  &:hover {
    color: $white-shade-dark;
    text-decoration: underline;
  }
}
