.home-about {
  margin-top: 48px;
}

.home-about-intersection-logo {
  background-image: url('../assets/home_imgs/intersection.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 36px;
  width: 145px;
}
