.home-chapter-list {
  margin-top: 88px;
  padding: 0;
  counter-reset: chapter;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }
}

.home-chapter-item {
  position: relative;
  margin-bottom: 18px;
  list-style: none;
  transition: box-shadow 0.2s ease-in,
              transform 0.2s ease-in;

  &::before {
    content: counter(chapter);
    font-size: 2.5rem;
    color: $white-shade-lighter;
    counter-increment: chapter;
    position: absolute;
    left: 28px;
  }

  &:active,
  &:focus,
  &:hover {
    transform: scale(1.03, 1.03);
    transition: transform 0.2s ease-out;
  }
}

.home-chapter-link {
  display: block;
  background-color: $white;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  padding: 64px 16px 12px;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 4px 2px rgba($white-shade-dark, 0.12);
    transition: box-shadow 0.2s ease-out;
  }
}

.home-chapter-title {
  color: $white-shade-dark;
}

.home-chapter-preview {
  font-size: 0.8571rem;
  color: $white-shade-medium;
}

.home-chapter-cta {
  font-size: 0.8571rem;
  color: $green-laurel;
}
