$white: #fefefa;
$white-insec: #f0f0f0;
$white-floral: #fff7ec;
$white-shade-lighter: #d8d8d8;
$white-shade-light: #b2b2b2;
$white-shade-medium: #7f7f7f;
$white-shade-dark: #4c4c4c;

$yellow-skin: #fff7ec;

$green-laurel: #2bce90;
