.home-footer {
  background-color: $white-insec;
  margin-top: 48px;
  padding: 24px 0;
}

.home-footer-mail-link {
  color: $white-shade-light;

  &:active,
  &:focus,
  &:hover {
    color: $white-shade-dark;
    text-decoration: underline;
  }
}

.icon-home-footer-mail {
  margin-right: 12px;
}

.home-footer-mail-label {
  color: $white-shade-dark;
}
