.home-intro-title {
  background-image: url('../assets/home_imgs/intro_background.svg');
  background-position: 26px top;
  background-repeat: no-repeat;
  background-size: 72px auto;
  color: $white-shade-dark;
  font-size: 1.714285rem;
  padding-top: 48px;
}

.home-intro-content-motto {
  font-weight: 700;
}

.home-intro-highlights {
  display: flex;
  overflow-x: auto;
  margin-top: 12px;
  padding: 0;
}

.home-intro-highlight-item {
  flex: 1 1 auto;
  list-style: none;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

@mixin intro-links {
  color: $white-shade-medium;
  display: block;
  margin-top: 24px;

  &:active,
  &:focus,
  &:hover {
    color: $white-shade-dark;
    text-decoration: underline;
  }
}

.home-intro-link-fbevent {
  @include intro-links;
}

.home-intro-link-netguru {
  @include intro-links;
}

.home-intro-link-github {
  @include intro-links;
}

@mixin intro-highlight-icon($iconwidth) {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: #{$iconwidth} auto;
  display: block;
  height: 48px;
  margin: 0 auto 8px;
  width: 48px;
}

.home-intro-highlight-icon-github {
  @include intro-highlight-icon(68%);

  background-image: url('../assets/home_imgs/bygithub.svg');
}

.home-intro-highlight-icon-process {
  @include intro-highlight-icon(84%);

  background-image: url('../assets/home_imgs/theprocess.svg');
}

.home-intro-highlight-icon-legend {
  @include intro-highlight-icon(92%);

  background-image: url('../assets/home_imgs/wordlegend.svg');
}

.home-intro-highlight-title {
  text-align: center;
}
