.home-nav {
  left: 0;
  padding: 18px 0 36px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.home-nav-list {
  display: flex;
  padding: 0;
}

.home-nav-item {
  flex: 1 1 auto;
  list-style: none;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 48px;
    text-align: left;

    &:last-child {
      margin-right: 0;
    }
  }
}

.home-nav-item-link {
  color: $white-shade-medium;
  line-height: 2em;

  &:active,
  &:focus,
  &:hover {

    color: $white-shade-dark;
    text-decoration: underline;
  }
}
