.home-nav {
  left: 0;
  padding: 18px 0 36px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.home-nav-row {
  align-items: center;
}

.home-nav-cosign {
  display: block;
  background-image: url('../assets/home_imgs/cosign_logo_g.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 42px;
  width: 75px;
}

.home-nav-list {
  display: flex;
  margin: 12px 0 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.home-nav-item {
  flex: 1 1 auto;
  list-style: none;

  @media screen and (min-width: 768px) {
    flex: 0 0 auto;
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.home-nav-item-link {
  color: $white-shade-medium;
  line-height: 2em;

  &:active,
  &:focus,
  &:hover {

    color: $white-shade-dark;
    text-decoration: underline;
  }
}
