.home-participants {
  padding: 0;
}

.home-participant-item {
  list-style: none;
}

.home-participant-link {
  color: $green-laurel;

  &:active,
  &:focus,
  &:hover {
    color: $green-laurel;
    text-decoration: underline;
  }
}
