.home-participants {
  margin-top: 12px;
  padding: 0;
}

.home-participant-item {
  list-style: none;
}

.home-participant-link {
  color: $blue-steel;

  &:active,
  &:focus,
  &:hover {
    color: $blue-steel;
    text-decoration: underline;
  }
}
