.home-sponsor-layout {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  } 
}

.home-sponsor-title {
  flex: 1 0 100%;
  text-align: center;

  @media screen and (min-width: 768px) {
    flex: 1 1 50%;
    text-align: left;
  }
}

.home-sponsor-jkopay {
  flex: 1 0 100%;
  text-align: center;

  @media screen and (min-width: 768px) {
    flex: 1 1 50%;
    text-align: left;
  }
}

.home-sponsor-jkopay-logo-link {
  display: inline-block;
}

.home-sponsor-jkopay-logo {
  display: inline-block;
  background-image: url('../assets/home_imgs/jkopay.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 8px;
  height: 57px;
  width: 120px;
}

.home-sponsor-seperator {
  border-bottom: 1px solid $white-shade-lighter;
  display: block;
  margin: 10px auto;
  width: 50%;
}
