.home-timelapse {
  margin-top: 48px;
}

.home-timelapse-video {
  // background-color: $white-shade-dark;
  padding-top: 56.25%;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 42.1875%;
  }

  @media screen and (min-width: 992px) {
    padding-top: 28.0625%;
  }
}

.home-timelapse-video-player {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 75%;
  }

  @media screen and (min-width: 992px) {
    width: 50%;
  }
}
