<table class="dp-table">
    <tbody>
        <tr>
            <td>1</td>
            <td>Set KPIs</td>
            <td>
                <ol>
                    <li>Create a document with list of all KPIs that you want to track, this list is called Measurement Plan (see example <a href="https://docs.google.com/document/d/18I1hr8s8WafMUXkismoh6pObSoB-2MuxBoycO3rWzJE/edit#heading=h.o6o8gag6ilc3" target="_blank">here</a>).
    Different products require different KPIs, for example, on landing page it’s good when users spend more time on them (better engagement) whereas in SaaS product, where users are task oriented, the less time they spend accomplishing a task, the better (indicates good UX). See example KPIs below in the table.</li>
                    <li>Choose analytic tool(s) that are able to track these KPIs. Google Analytics is a must-have, Hotjar is highly recommended.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Install tools</td>
            <td>
                <ol>
                    <li>Ask PM to add a ticket in Jira for this task (Devs & PD).</li>
                    <li>If you want to use funnels in GA, you have to setup it now (non retroactive), before gathering data. In Hotjar they can be setup anytime (retroactive)</li>
                    <li>For convenience you can create Custom Reports in GA, so data that interests you will be visible straight away without a need to adjust view’s filters/timeframes every time you visit GA</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Gather data</td>
            <td markdown="span">Simply wait 3-6 months, checking from time to time if data is being gathered.
    Protip: Add slack reminder for yourself '/remind me Check GA <project name> in 1 month'</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Analyze data</td>
            <td markdown="span">If the amount of data you gathered is sufficient, talk to your Lider / Senior Lider, about recommendations and additional services.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Take action</td>
            <td>
                <div>Depending on what the data is showing you can:</div>
                <ul>
                    <li>If you have some hypothesis but need more data - offer qualitative research method e.g. interviews, surveys (Hotjar)</li>
                    <li>Propose design adjustments that will clearly improve product’s performance</li>
                    <li>Move towards creating case study - Success Based on Data</li>
                </ul>
            </td>
        </tr>
    </tbody>
    </table>