<!-- Dynamic Navigation created with parent, parent-name, child-of parameters in Front Matter of pages -->
<ul class="dynamic-nav">
  {% for chapter in site.chapters %}
    {% if chapter.child-of == nil and chapter.parent == nil %} 
      <li><a href="{{ chapter.url }}">{{ chapter.title }}</a></li>
    {% endif %}

    {% if chapter.parent != nil %}
      <li><span><a href="{{ chapter.url }}">{{ chapter.title }}</a></span>
        <ul>
          {% for child in site.chapters %}
            {% if child.child-of == chapter.parent-name %}
              <li><a href="{{ child.url }}">{{ child.title }}</a></li>
            {% endif %}
          {% endfor %} 
        </ul>
      </li>
    {% endif %} 
  {% endfor %}
</ul>
