<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../assets/content_imgs/favicon.ico"/>

  <title>{{page.title}} - {{ site.book_title }}[{{ page.chapter_number }}]</title>
  <meta name="description" content="{{ page.exerpt }}">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:type"        content="article" />
  <meta property="og:locale"      content="zh_TW" />
  <meta property="og:title"       content="{{page.title}} - {{ site.book_title }}[{{ page.chapter_number }}]" />
  <meta property="og:description" content="{{ page.exerpt }}" />
  <meta property="og:image"       content="{{ site.url }}{{ site.baseurl }}/assets/og_imgs/{{ page.chapter_number }}.png" />

  <link rel="stylesheet" href="{{ "/process/css/main.css" }}">
  <link rel="stylesheet" href="{{ "/process/css/selection-sharer.css" }}" />

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "schema:Article",
    "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
    "schema:inLanguage": "zh-TW",
    "schema:name": "{{ site.book_title }} - {{page.title}}",
    "schema:headline": "{{ site.book_title }} - {{page.title}}",
    "schema:description": "{{ page.exerpt }}",
    "schema:image": "{{ site.url }}{{ site.baseurl }}/assets/og_imgs/{{ page.chapter_number }}.png",
    "mainEntityOfPage": "{{ site.url }}{{ site.baseurl }}/",
    "author": {
      "@type": "Person",
      "schema:name": "{{page.translator}}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "The Cosign Studio",
      "url": "https://www.facebook.com/groups/207617269772052/",
      "logo": {
        "@type": "ImageObject",
        "name": "The Cosign Studio Logo",
        "width": "400",
        "height": "300",
        "url": "https://thecosignstudio.github.io/process/assets/home_imgs/cosign_logo_b_2019.png"
      }
    },
    "datePublished": "2018-11-09",
    "dateModified": "{{page.modified}}"
  }
  </script>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KB7LBZ2');
  </script>
  <!-- End Google Tag Manager -->
</head>
