<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../assets/content_imgs/favicon.ico"/>

  <title>{{page.title}}</title>
  <meta name="description" content="在任何地點、任何時間透過瀏覽器觀看專業人士的設計流程。完全免費，內有我們從事專業工作超過 10 年的精華知識與經驗。">
  <link rel="stylesheet" href="{{ "/process/css/main.css" }}">
  <link rel="stylesheet" href="{{ "/process/css/selection-sharer.css" }}" />
  {% contentblock seo_scripts %}
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125049252-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125049252-1');
</script>
</head>
