<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../assets/content_imgs/favicon.ico"/>

  <title>{{page.title}}</title>
  <meta name="description" content="{{ page.exerpt }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type"        content="article" />
  <meta property="og:locale"      content="zh_TW" />
  <meta property="og:title"       content="{{page.title}}" />
  <meta property="og:description" content="{{ page.exerpt }}" />
  <meta property="og:image"       content="{{ site.url }}/process/assets/og_imgs/{{ page.chapter_number }}.png" />

  <link rel="stylesheet" href="{{ "/process/css/main.css" }}">
  <link rel="stylesheet" href="{{ "/process/css/selection-sharer.css" }}" />
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125049252-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125049252-1');
  </script>
</head>
