{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign document = (site[the_collection] | sort: 'path' ) %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign nexturl = document[forloop.index].url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<div class="subnav-wrapper">
  <div class="col-xs-12 col-md-3 subnav js-subnav active">
    <div class="subnav__chapters-container subnav__chapters-container--active">
      <div class="subnav__chapter-header-container">
        <div class="subnav__arrows-container">
          {% if prevurl %}
            <a href="{{prevurl}}" class="subnav__arrow">
              {% include svgs/arrow-left.svg %}
            </a>
          {% else %}
            <span class="subnav__arrow subnav__arrow--disabled">
              {% include svgs/arrow-left.svg %}
            </span>
          {% endif %}
          {% if nexturl %}
            <a href="{{nexturl}}" class="subnav__arrow">
              {% include svgs/arrow-right.svg %}
            </a>
          {% else %}
            <span class="subnav__arrow subnav__arrow--disabled">
              {% include svgs/arrow-right.svg %}
            </span>
          {% endif %}
        </div>
        <div class="chapter-number">{{ page.chapter_number }}</div>
        <button class="chapter-toggle js-show-chapter-nav">
          Show all chapters
        </button>
      </div>
      <div id="toc" class="subnav__chapters-listing"></div>
    </div>
  
    <div id="toc-chapters" class="chapter-nav__listing"></div>
  
    <div class="subnav__mobile">
      <div class="subnav__mobile__sidebar-toggle">
        <div class="subnav__mobile__menu-bar"></div>
        <div class="subnav__mobile__menu-bar"></div>
        <div class="subnav__mobile__menu-bar"></div>
      </div>
      <div class="subnav__mobile__info">
        <div class="chapter-number">{{ page.chapter_number }}</div>
        <div id="toc-chapter-title" class="subnav__mobile__chapter-title"></div>
      </div>
      <div class="subnav__mobile__arrows">
        {% if prevurl %}
          <a href="{{prevurl}}" class="subnav__mobile__arrow">
            {% include svgs/arrow-left.svg %}
          </a>
        {% endif %}
        {% if nexturl %}
          <a href="{{nexturl}}" class="subnav__mobile__arrow">
            {% include svgs/arrow-right.svg %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="chapter-sidebar">
  <div class="chapter-sidebar__close">
    <div class="chapter-sidebar__close-bar"></div>
    <div class="chapter-sidebar__close-bar"></div>
  </div>
  <div id="toc-all-chapters"></div>
</div>
