/* FONT FAMILIES */
$ff-sans-serif: 'Averta Std', sans-serif;

/* FONT SIZES */
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 18px;
$fs-4: 20px;
$fs-5: 24px;
$fs-6: 30px;
$fs-7: 36px;
$fs-8: 64px;

/* FONT WEIGHTS */
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 800;
