// Base for the typographic baseline
$base-sizing: 1.78rem;

/* FONT FAMILIES */
$ff-sans-serif: 'Averta Std', sans-serif;
$ff-serif: 'Noto Serif', sans-serif;

/* FONT SIZES */
$fs-0: 12px;
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 18px;
$fs-4: 20px;
$fs-5: 24px;
$fs-6: 30px;
$fs-7: 36px;
$fs-8: 64px;

$fs-rel-1: 1rem;
$fs-rel-2: 3.76rem;

/* FONT WEIGHTS */
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 800;
