html {
  font-size: $fs-2;
  line-height: $base-sizing;

  @media #{$md-up} {
    font-size: $fs-3;
  }
}

.small-title {
  font-size: $fs-1;
  color: $light-grey-color;
}

.chapter-number {
  position: relative;
  display: inline-block;
  font-size: $fs-4;
  font-weight: $fw-bold;
  color: $orange-color;
  margin: 0 1rem 0 0;
}

.hidden-mobile--block {
  display: none;

  @media #{$md-up} {
    display: block;
  }
}

.content-img {
  margin: $base-sizing auto;
  // necessary importants to make images default width :(
  max-width: 100% !important;
  width: initial !important;
  height: auto !important;
}
