*,
*::after,
*::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Font declarations
// scss-lint:disable VariableForProperty
@font-face {
  font-family: 'Averta Std';
  font-weight: 400;
  src: url('../assets/fonts/AvertaStd-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Averta Std';
  font-weight: 600;
  src: url('../assets/fonts/AvertaStd-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Averta Std';
  font-weight: 800;
  src: url('../assets/fonts/AvertaStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Averta Std';
  font-style: italic;
  src: url('../assets/fonts/AvertaStd-RegularItalic.otf') format('opentype');
}
