.chapter {
  padding: 8.73rem 5.11rem 0 5.11rem;
  border: 1px solid $very-light-grey-color;
  border-top: 0;
  border-bottom: 0;

  &__content {
    p {
      font-size: $fs-3;
      line-height: 1.8rem;
      margin-bottom: 1.8rem;
    }

    p:first-of-type:first-letter {
      float: left;
      font-size: $fs-8;
      font-weight: $fw-bold;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }

    h1,
    h2,
    h3,
    h4 {
      // Needed for copy to clipboard button
      position: relative;
      margin-top: 3.9rem;
    }

    h1 {
      font-weight: $fw-bold;
      font-size: $fs-8;
      text-align: center;
      margin-bottom: 5.8rem;
    }

    h2 {
      font-weight: $fw-bold;
      font-size: $fs-6;
      margin-bottom: 2.22rem;
    }

    h3 {
      font-weight: $fw-bold;
      font-size: $fs-4;
      margin-bottom: 1.6rem;
    }

    h4, h5 {
      font-weight: $fw-bold;
      font-size: $fs-3;
      margin-bottom: 1.6rem;
    }

    em {
      font-style: italic;
    }
  }

  &__book-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: $fw-semibold;
    margin-bottom: 2.84rem;
  }

  &__number {
    text-align: center;
    font-size: $fs-5;
    font-weight: $fw-bold;
    color: $orange-color;
    margin-bottom: 0.8rem;
  }
}
