.chapter-nav__listing {
  margin: 0;
  display: none;

  &--active {
    display: block;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;

    li {
      transition: opacity 0.25s ease, transform 0.25s ease; 
      opacity: 0;
      transform: translateY(30px);

      &.chapter-nav__listing-element--visible {
        opacity: 1;
        transform: translateY(0);
      }

      a {
        display: block;
        font-size: $fs-2;
        font-weight: $fw-semibold;
        line-height: $base-sizing;
        color: $light-grey-color;
        margin-bottom: 2.778rem;

        &:hover {
          text-decoration: none;
        }

        .chapter-number {
          color: $light-grey-color;
        }
      }
      
      &.active a {
        color: inherit;

        .chapter-number {
          color: inherit;
        }
      }
    }
  }

  .chapter-number {
    display: block;
  }
}

.chapter-sidebar {
  @include fixed(top 0 left -100%);
  @include sizing(90% 100%);
  z-index: 1000;
  background: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  transition: left 0.25s ease;
  padding: 70px 32px 50px;

  @media #{$md-up} {
    display: none;
  }

  &--active {
    left: 0;
  }

  &__close {
    @include absolute(top 29px left 32px);
    @include sizing(30px);
  }

  &__close-bar {
    @include absolute(top 14px left 0);
    @include sizing(16px 2px);
    background: black;

    &:nth-child(1) {
      transform: rotate(-45deg);
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;

    li {
      position: relative;

      &.toc-h2.toc-active::before {
        @include absolute(left 27px);
        @include sizing(1px 100%);
        content: '';
        display: block;
        background: $orange-color;
      }

      a {
        display: block;
        font-size: $fs-1;
        font-weight: $fw-semibold;
        line-height: $base-sizing;
        color: $light-grey-color;
        margin-bottom: 1.3rem;

        &:hover {
          text-decoration: none;
        }

        .chapter-number {
          color: $light-grey-color;
          font-size: $fs-1;
        }
      }

      .toc-h2 {
        padding-left: 50px;
      }
      
      &.chapter-sidebar__current-chapter a {
        color: inherit;

        .chapter-number {
          color: $orange-color;
        }
      }
    }
  }
}
