.chapter-nav__listing {
  margin: 0;
  display: none;

  &--active {
    display: block;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;

    li {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
      opacity: 0;
      transform: translateY(30px);

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      a {
        display: block;
        font-size: $fs-2;
        font-weight: $fw-semibold;
        line-height: $base-sizing;
        color: $light-grey-color;
        margin-bottom: 2.778rem;

        &:hover {
          text-decoration: none;
        }

        .chapter-number {
          color: $light-grey-color;
        }
      }
      
      &.active a {
        color: inherit;

        .chapter-number {
          color: inherit;
        }
      }
    }
  }

  .chapter-number {
    display: block;
  }
}
