.chapter-nav {
  @include fixed(left -100vw);
  z-index: $z-index-2;
  height: 100vh;
  max-height: 100vh;
  padding-top: $side-nav-top-padding;
  overflow-y: scroll;
  background-color: $white-color;
  transition: left 0.3s ease-in-out;

  &.active {
    left: 0;
  }

  &__listing {
    margin-left: 0;
    padding-left: 3.33rem;

    ul {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;

      .chapter-number {
        margin-bottom: 0.9rem;
      }

      // Again needed due to script
      // scss-lint:disable SelectorDepth
      li a {
      // scss-lint:enable SelectorDepth
        display: block;
        margin-bottom: 2.778rem;
        font-size: $fs-3;
        font-weight: $fw-bold;
        color: $black-color;

        // Again needed due to script
        // scss-lint:disable SelectorDepth
        &:hover {
        // scss-lint:enable SelectorDepth
          text-decoration: none;
        }
      }
    }
  }

  .chapter-number {
    display: block;
    font-size: $fs-6;
  }
}
