.clipboard-btn {
  @include absolute(top 50%);
  font-size: $fs-1;
  font-weight: $fw-regular;
  background-color: transparent;
  border: 0;
  transform: translateY(-50%);
  opacity: 0.3;
  margin-left: 1rem;

  &__icon {
    @include sizing(13px);
  }
}
