.subnav {
  position: fixed;
  padding-top: $side-nav-top-padding;
  padding-right: 0;

  &__chapters-container {
    padding-left: 3.34rem;
  }

  &__chapters-listing {
    margin-left: 0;
    padding-left: 0;

    ul {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }

    li a {
      position: relative;
      display: block;
      font-size: $fs-1;
      font-weight: $fw-semibold;
      line-height: 4em;
      color: $light-grey-color;
    }

    .toc-active a {
      color: $black-color;

      &::after {
        @include absolute(top 50% right 0);
        @include sizing(1px 2.333333333rem);
        content: '';
        display: block;
        background-color: $orange-color;
        transform: translateY(-50%);
      }
    }
  }
}
