.dp-table {
    border-collapse: collapse;
    table-layout: fixed;

    td:first-child, td:nth-child(2) {
        background-color: $very-light-grey-color;
    }

    td:not(:nth-child(3)) {
        vertical-align: top;
    }

    td {
        padding: 10px;
        text-align: center;
        border: 1px solid rgba(#000, .3);
    }

    li {
        text-align: left;
        text-indent: initial;
    }
}
