---
layout: default
---
<div class="nav" style="display: none">
  <p>Table of contents</p>
  {{ site.data["nav"] }}
</div>

<div class="container-fluid">
  <div class="row">
    {% include subnav.html %}

    <article class="col-xs-12 col-md-8 col-md-offset-3 chapter-container">
      {% include share_buttons.html %}

      <div class="chapter">
        <div class="small-title chapter__book-title">
          {{ site.book_title }}
        </div>

        <div class="chapter__number">
          {{ page.chapter_number }}
        </div>

        <div class="chapter__content">
          {{ content }}
        </div>
      </div> <!-- /.chapter -->

      {% include chapter-bottom-nav.html %}
    </article>
  </div>
</div>
