<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {{ content }}
    <div class="overlay hide"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../javascript/jquery.toc.min.js"></script>
    <script src="../javascript/application.js"></script>
    <script src="../javascript/selection-sharer.js"></script>
    <script src="../javascript/clipboard.js"></script>
    <script src="../javascript/clipboard-buttons.js"></script>
  </body>
</html>
