<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB7LBZ2"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ content }}
    <div class="overlay hide"></div>

    <script src="{{ "/process/build/js/vendor.js" }}"></script>
    <script src="{{ "/process/build/js/application.js" }}"></script>
  </body>
</html>
