<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../assets/content_imgs/favicon.ico"/>
  
  <title>專業人士的設計流程</title>
  <meta name="description" content="在任何地點、任何時間透過瀏覽器觀看專業人士的設計流程。完全免費，內有我們從事專業工作超過 10 年的精華知識與經驗。">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/process/css/home.css" }}">
  <link rel="canonical" href="https://thecosignstudio.github.io/process" >
    
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125049252-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125049252-1');
  </script>
</head>
      
<body>
  <main class="home-cover">
    <div class="container">
      <header class="row">
        <div class="col-12">
          <h1 class="home-cover-title">專業人士的設計流程</h1>
          <span class="home-cover-subtitle">Design Process for Pros</span>
        </div>
      </header>
    </div>
  </main>
  <section class="home-chapters">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>章節</h2>
          <ul class="home-chapter-list row">
            <li class="home-chapter-item col-12 col-sm-6 col-md-3 offset-md-2">
              <a href="chapters/01-project-introduction-and-setup.html" class="home-chapter-link">
                <h5 class="home-chapter-title">專案啟動與設置</h5>
                <p>你的工作從拿起紙和筆之前就已經開始了。從準備與客戶第一次的會議就已經啟動設計流程。</p>
                <span>閱讀→</span>
              </a>
            </li>
            <div class="w-100 d-none d-md-block"></div>
            <li class="home-chapter-item col-12 col-sm-6 col-md-3 offset-md-2">
              <a href="chapters/02-ideation-and-concept.html" class="home-chapter-link">
                <h5 class="home-chapter-title">創意發想與概念</h5>
                <p>創意發想及概念 階段是設計流程中的根本基礎，在此時間點，要獲取主要需求共識以及決定日後發展大方向。</p>
                <span>閱讀→</span>
              </a>
            </li>
            <li class="home-chapter-item col-12 col-sm-6 col-md-3">
              <a href="chapters/03-wireframing.html" class="home-chapter-link">
                <h5 class="home-chapter-title">製作線稿</h5>
                <p>身為一個設計師，我們絕不能跳過線稿這個階段。線稿階段是銜接前期研究與設計視覺化的橋樑</p>
                <span>閱讀→</span>
              </a>
            </li>
            <li class="home-chapter-item col-12 col-sm-6 col-md-3">
              <a href="chapters/04-testing.html" class="home-chapter-link">
                <h5 class="home-chapter-title">測試</h5>
                <p>數位產品的任何部分均可測試：設計理念、程式碼、效能、表單、按鈕…等。</p>
                <span>閱讀→</span>
              </a>
            </li>
            <div class="w-100 d-none d-md-block"></div>
            <li class="home-chapter-item col-12 col-sm-6 col-md-3 offset-md-5">
              <a href="chapters/05-design.html" class="home-chapter-link">
                <h5 class="home-chapter-title">設計</h5>
                <p>我們設計東西是在透過一套可用的資源，給出可以解決問題的用途一個形式。</p>
                <span>閱讀→</span>
              </a>
            </li>
            <li class="home-chapter-item col-12 col-sm-6 col-md-3">
              <a href="chapters/06-implementation-recommendations.html" class="home-chapter-link">
                <h5 class="home-chapter-title">實行建議</h5>
                <p>開始準備元件前，請先與開發人員討論。開發人員對於實現設計有不同的方法。</p>
                <span>閱讀→</span>
              </a>
            </li>
            <div class="w-100 d-none d-md-block"></div>
            <li class="home-chapter-item col-12 col-sm-6 col-md-3 offset-md-8">
              <a href="chapters/07-project-termination.html" class="home-chapter-link">
                <h5 class="home-chapter-title">結束專案</h5>
                <p>您可能希望依據自己的工作流程做調整。</p>
                <span>閱讀→</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="row">
      <div class="col-12">
          <h2>緣起</h2>
      </div>
      <div class="col">
        <h3>Github 合譯實作</h3>
        <p></p>
      </div>
      <div class="col">
        <h3>專業設計流程</h3>
        <p></p>
      </div>
      <div class="col">
        <h3>詞彙對照</h3>
        <p></p>
      </div>
    </section>

    <section class="row">
      <div class="col">
        <h2>規劃過程</h2>
      </div>
    </section>

    <section class="row">
      <div class="col">
        <h2>參與人員</h2>

        <ul class="home-participants row">
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Cos Chen</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Duke Lee</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">fantasynovel</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Faust Li</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">fenturechance</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Felly Wu</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Jamie Chiu</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Jason CK</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Gwynne</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Kay Tai</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Lou Raco</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Ming Hsuan Chou</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Money Chien</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Rimes</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Rolcha Tao</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Shu Yu Lin</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Stella Chen</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Tzuyu Huang</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="https://ymcheung.tw" class="home-participant-link" target="_blank">ymcheung</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Zora Shen</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-md-2">
            <a href="javascript:void(0)" class="home-participant-link">Zucci</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="row">
      <div class="col">
        <h2>場地提供</h2>
        <p>街口支付</p>
      </div>
    </section>

    <section class="row">
      <div class="col-12 col-sm-6">
        <h2>關於 Cosign</h2>
      </div>
      <div class="col-12 col-sm-6">
        <h2>Intersection</h2>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col">
          聯絡我們
          Hosted by Cosign x Intersection
          原作者網址
        </div>
      </div>
    </div>
  </footer>

</body>
</html>