<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../assets/content_imgs/favicon.ico"/>
  
  <title>專業人士的設計流程</title>
  <meta name="description" content="在任何地點、任何時間透過瀏覽器觀看專業人士的設計流程。完全免費，內有我們從事專業工作超過 10 年的精華知識與經驗。">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/process/css/home.css" }}">
  <link rel="canonical" href="https://thecosignstudio.github.io/process" >
    
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125049252-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125049252-1');
  </script>
</head>
      
<body>
  <main class="home-cover">
    <div class="container">
      <header class="row">
        <div class="col">
          <h1 class="home-cover-title">專業人士的設計流程</h1>
          <span class="home-cover-subtitle">Design Process for Pros</span>
        </div>
      </header>
      <div class="row">
        <div class="col">
          <ul class="home-chapter-list row">
            <li class="home-chapter-item col-12 col-sm-6 col-lg-3 offset-lg-2">
              <a href="chapters/01-project-introduction-and-setup.html" class="home-chapter-link">
                <h5 class="home-chapter-title">專案啟動與設置</h5>
                <p class="home-chapter-preview">
                  你的工作從拿起紙和筆之前就已經開始了。從準備與客戶第一次的會議就已經啟動設計流程。
                </p>
                <span class="home-chapter-cta">閱讀→</span>
              </a>
            </li>
            <div class="w-100 d-none d-lg-block"></div>
            <li class="home-chapter-item col-12 col-sm-6 col-lg-3 offset-lg-2">
              <a href="chapters/02-ideation-and-concept.html" class="home-chapter-link">
                <h5 class="home-chapter-title">創意發想與概念</h5>
                <p class="home-chapter-preview">
                  創意發想及概念 階段是設計流程中的根本基礎，在此時間點，要獲取主要需求共識以及決定日後發展大方向。
                </p>
                <span class="home-chapter-cta">閱讀→</span>
              </a>
            </li>
            <li class="home-chapter-item col-12 col-sm-6 col-lg-3">
              <a href="chapters/03-wireframing.html" class="home-chapter-link">
                <h5 class="home-chapter-title">製作線稿</h5>
                <p class="home-chapter-preview">
                  身為一個設計師，我們絕不能跳過線稿這個階段。線稿階段是銜接前期研究與設計視覺化的橋樑
                </p>
                <span class="home-chapter-cta">閱讀→</span>
              </a>
            </li>
            <li class="home-chapter-item col-12 col-sm-6 col-lg-3">
              <a href="chapters/04-testing.html" class="home-chapter-link">
                <h5 class="home-chapter-title">測試</h5>
                <p class="home-chapter-preview">
                  數位產品的任何部分均可測試：設計理念、程式碼、效能、表單、按鈕…等。
                </p>
                <span class="home-chapter-cta">閱讀→</span>
              </a>
            </li>
            <div class="w-100 d-none d-lg-block"></div>
            <li class="home-chapter-item col-12 col-sm-6 col-lg-3 offset-lg-5">
              <a href="chapters/05-design.html" class="home-chapter-link">
                <h5 class="home-chapter-title">設計</h5>
                <p class="home-chapter-preview">
                  我們設計東西是在透過一套可用的資源，給出可以解決問題的用途一個形式。
                </p>
                <span class="home-chapter-cta">閱讀→</span>
              </a>
            </li>
            <li class="home-chapter-item col-12 col-sm-6 col-lg-3">
              <a href="chapters/06-implementation-recommendations.html" class="home-chapter-link">
                <h5 class="home-chapter-title">實行建議</h5>
                <p class="home-chapter-preview">
                  開始準備元件前，請先與開發人員討論。開發人員對於實現設計有不同的方法。
                </p>
                <span class="home-chapter-cta">閱讀→</span>
              </a>
            </li>
            <div class="w-100 d-none d-md-block"></div>
            <li class="home-chapter-item col-12 col-sm-6 col-lg-3 offset-lg-8">
              <a href="chapters/07-project-termination.html" class="home-chapter-link">
                <h5 class="home-chapter-title">結束專案</h5>
                <p class="home-chapter-preview">
                  您可能希望依據自己的工作流程做調整。
                </p>
                <span class="home-chapter-cta">閱讀→</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <div class="container">
    <section class="row">
      <div class="col-12">
        <h2 class="home-intro-title">緣起</h2>
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="home-intro-content">
              我們的好朋友 Yuming ，發現一本有關「設計流程」的電子書寫得不錯，本來打算邀請同好合力把它翻成正體中文，長久以來我們一直在尋找可以讓大家共創型態的活動，我們就想不如把它變成翻譯松的活動吧！於是經歷一連串的準備過程。
            </p>
            <p class="home-intro-content-motto">
              透過翻譯才會真正的了然於心<br>
              透過實作才會真正的融會貫通<br>
              透過修飾才能真正的言近旨遠
            </p>
          </div>
          <div class="col-12 col-md-8">
            <ul class="home-intro-highlights">
              <li class="home-intro-highlight-item">
                <i class="home-intro-highlight-icon-github"></i>
                <h6 class="home-intro-highlight-title">Github 合譯實作</h6>
                </li>
              <li class="home-intro-highlight-item">
                <i class="home-intro-highlight-icon-process"></i>
                <h6 class="home-intro-highlight-title">專業設計流程</h6>
              </li>
              <li class="home-intro-highlight-item">
                <i class="home-intro-highlight-icon-legend"></i>
                <h6 class="home-intro-highlight-title">詞彙對照</h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="row">
      <div class="col col-sm-2">
        <a class="home-intro-link-fbevent" href="https://www.facebook.com/events/291647828288300" target="_blank">
          <i class="fal fa-calendar-alt fa-fw"></i>
          活動連結
        </a>
      </div>
      <div class="col col-sm-2">
        <a class="home-intro-link-netguru" href="http://netguru.co/design-process" target="_blank">
          <i class="fal fa-globe fa-fw"></i>
          原文連結
        </a>
      </div>
      <div class="col col-sm-2">
        <a class="home-intro-link-github" href="https://github.com/thecosignstudio/process" target="_blank">
          <i class="fab fa-github fa-fw"></i>
          專案網址
        </a>
      </div>
    </section> -->
  </div>

<section class="home-timelapse">
  <div class="home-timelapse-video">
    <iframe class="home-timelapse-video-player" src="https://www.youtube.com/embed/JFS0e463vxI?autoplay=1&mute=1&rel=0&amp;controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-sm-10">
        <ul class="home-participants row">
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Cos Chen</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Duke Lee</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">fantasynovel</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Faust Li</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">fenturechance</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Felly Wu</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">小米</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">劉進輝</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Gwynne</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">戴于喬</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Lou Yugalitree</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Ming Hsuan Chou</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Money Chien</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Rimes Chen</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Rolcha Tao</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Shu Yu Lin</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Stella Chen</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Tzuyu Huang</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="https://ymcheung.tw" class="home-participant-link" target="_blank">ymcheung</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">沈大今</a>
          </li>
          <li class="home-participant-item col-6 col-sm-3 col-lg-2">
            <a href="javascript:void(0)" class="home-participant-link" target="_blank">Zucci</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section class="row">
    <div class="col-12 col-sm">
      <div class="home-sponsor-layout">
        <div class="home-sponsor-title">感謝場地提供</div>
        <div class="home-sponsor-jkopay">
          <a class="home-sponsor-jkopay-logo-link" href="https://www.jkos.com" target="_blank">
            <i class="home-sponsor-jkopay-logo"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm">
      <div class="home-about">
        <h2 class="home-about-cosign-logo"></h2>
        <p>
          Cosign: Coding + Design!
        </p>
        <p>
          Cosign 是一群熱愛嘗試不同技術、設計，挑戰跨領域精神，並追求自我成長的學習者。
        </p>
          如同 Airbnb 的精神：<br>
          In addition to pixels and code, we aspire to open source our content, methods, and data that span multiple disciplines — all of equal value and importance.
        </p>
        <p>
          我們樂於分享彼此的專業知識，對於未知的事物充滿好奇和同時積極學習；透過交流與討論，希望能在這邊激盪出更多不一樣的火花或者來自不同領域的合作機會。
        </p>
        <p>
          <a class="home-about-link" href="https://www.facebook.com/groups/207617269772052" target="_blank">
            <i class="fab fa-facebook"></i> 加入 Facebook 社團
          </a>
        </p>
      </div>
      <div class="home-about">
        <h2 class="home-about-intersection-logo"></h2>
        <p>
          優化、插件、高清、視頻、反饋、交互設計：已經看膩這些中國網路媒體用語。
        </p>
        <p>
          <a class="home-about-link" href="https://intersection.tw" target="_blank">
            <i class="fal fa-globe"></i> Publication 網址
          </a>
        </p>
      </div>
    </div>
  </section>
</div>

  <footer class="home-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <a class="home-footer-mail-link" href="mailto:thecosignstudio@gmail.com">
            <i class="fal fa-envelope"></i> thecosignstudio@gmail.com
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/light.js" integrity="sha384-2R0W5LA7dXp3ze/WhvjXlUcDaHRhtGlKYxN9QMhGDdjmj2EI1bub5ysSwofJwGfI" crossorigin="anonymous"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/brands.js" integrity="sha384-am5AyalpQCEfbKe6FYiGZc2vX080nrcueZmrbkljxLdQDJ5q5Vu9QDROD/QefEp1" crossorigin="anonymous"></script>
  <script defer src="https://pro.fontawesome.com/releases/v5.3.1/js/fontawesome.js" integrity="sha384-u3o36ga3mMU6/lK/zdiER4h7pPtAK7wBuN0DrZPH22v01RZL8bKZkULIjxcx2/X/" crossorigin="anonymous"></script>
</body>
</html>