---
layout: default
---

<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</main>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>更專業的設計師</h2>
    </div>
    <div class="col-xs-4">
      <h3>Github 協作</h3>
      <p></p>
    </div>
    <div class="col-xs-4">
      <h3>專業設計流程</h3>
      <p></p>
    </div>
    <div class="col-xs-4">
      <h3>詞彙對照</h3>
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>章節</h2>
      <ul class="row">
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="javascript:void(0)" class="home-chapter-link">專案啟動與設置</a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="javascript:void(0)" class="home-chapter-link">創意發想與概念</a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="javascript:void(0)" class="home-chapter-link">製作線稿</a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="javascript:void(0)" class="home-chapter-link">測試</a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="javascript:void(0)" class="home-chapter-link">設計</a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="javascript:void(0)" class="home-chapter-link">實行建議</a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-3">
          <a href="javascript:void(0)" class="home-chapter-link">結束專案</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>規劃過程</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>參與人員</h2>

      <ul class="row">
        <li class="col-xs-6 col-sm-3 col-md-2">
          <a href="javascript:void(0)" class="home-participate-link">Gwynne</a>
        </li>
        <li class="col-xs-6 col-sm-3 col-md-2">
          <a href="javascript:void(0)" class="home-participate-link">Money</a>
        </li>
        <li class="col-xs-6 col-sm-3 col-md-2">
          <a href="javascript:void(0)" class="home-participate-link">ymcheung</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>場地提供</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>關於 Cosign</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Intersection</h2>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        聯絡我們
        Hosted by Cosign x Intersection
        原作者網址
      </div>
    </div>
  </div>
</footer>
